/*CSS style sheet*/
body 
{
  margin: 0;
  background-color: #b3ecff;
  font-family: Arial, Helvetica, sans-serif;
}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #002633;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-left: 30px;
}

.topnav a:hover {
  background-color: mediumpurple;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #002633;
}

.topnav-centered i {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #002633;
}

.topnav-centeredimg img {
  position: relative;

}

.topnav-right {
  float: right;
}
footer
{
    color: black;
    font-size: 15px;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
}
.aboutusclass
{
    text-align: center;

    
}
.aboutusclass p
{
    text-align: center;
    color: orangered;
}